.root {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
  line-height: 1.6;

  h1 {
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
  }

  p{
    text-align: justify;
  }
}
