@use '../variables';

.sort {
  position: relative;
  &__label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
      font-size: 17px;
    }

    span {
      color: variables.$orange;
      border-bottom: 1px dashed variables.$orange;
      cursor: pointer;
      font-size: 17px;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;

    ul {
      overflow: hidden;
      li {
        font-size: 17px;
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: variables.$orange;
        }
      }
    }
  }
}
