.root{
  position: relative;
  margin: 30px;
}
.input{
  border: 1px solid rgba(0,0,0,0.2);
  padding: 8px 16px;
  padding-left: 40px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
  &:focus{
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
.iconSearch{
    width: 18px;
    height: 18px;
    opacity: 0.5;
    position: absolute;
    left: 12px;
    top: 10px;
}

.iconClear{
  width: 15px;
  height: 15px;
  opacity: 0.3;
  position: absolute;
  right: 016px;
  top: 12px;
  cursor: pointer;
    &:hover {
        opacity: 0.6;
      }
}